<header class="app-header" *ngIf="this.cookieService.get('access_token') != 'undefined'">
  <div class="header-container">
    <div class="header-left">
      <div class="hotel-selector" *ngIf="hoteis.length > 0">
        <i class="bi bi-building"></i>
        <select [(ngModel)]="hotelSelecionadoId" (ngModelChange)="selecionarHotel($event)" class="hotel-select">
          <option *ngFor="let hotel of hoteis" [value]="hotel.id">{{ hotel.name }}</option>
        </select>
      </div>
    </div>
<!-- 
    <div class="header-center">
      <h1 class="app-title">{{ appTitle }}</h1>
    </div> -->

    </div>
</header>
